<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>milkCode</title>
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery.slim.min.js">
    </script>
    <script src="js/bootstrap.bundle.js">
    </script>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/index.css">
</head>
<body style="background-color: rgb(240, 243, 245);">
    <div class="container-fluid" style="background-color: white">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
                <a class="navbar-brand" href="#">
                    <img src="img/author.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                    milkcode
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">首页 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/itemList}">最酷的互联网产品</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/it-resource-list}">如何成为很屌的程序员</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/chat}">AI助手</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/aircondition}">清凉一夏</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" th:action="@{/search}">
                        <input class="form-control mr-sm-2" type="search" placeholder="寻找互联网神器" aria-label="Search"
                               name="queryKey">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="container" style="padding-top: 1%">
        <iframe security="restricted" src="https://air.shadiao.app/" frameborder="0" class="ifr" width="100%" height="820px"></iframe>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">扫描二维码</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="width: 100%; height: 100%">
                    关注公众号，了解更多玩法和后续更新
                    <img src="/001.jpg" style="width: 100%; height: 100%">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 2%;padding-bottom:2%;background-color: rgb(240, 243, 245);">
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                关注公众号，了解更多玩法和后续更新
            </button>
        </div>

</div>
</body>
<script>
    ((function () {
        var callbacks = [],
            timeLimit = 50,
            open = false;
        setInterval(loop, 1);
        return {
            addListener: function (fn) {
                callbacks.push(fn);
            },
            cancleListenr: function (fn) {
                callbacks = callbacks.filter(function (v) {
                    return v !== fn;
                });
            }
        }

        function loop() {
            var startTime = new Date();
            debugger;
            if (new Date() - startTime > timeLimit) {
                if (!open) {
                    callbacks.forEach(function (fn) {
                        fn.call(null);
                    });
                }
                open = true;
                window.stop();
                alert('讨厌，不要扒我皮了，人家好害羞的！');
                window.location.reload();
            } else {
                open = false;
            }
        }
    })()).addListener(function () {
        window.location.reload();
    });
</script>
</html>
