<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>milkCode</title>
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery.slim.min.js">
    </script>
    <script src="js/bootstrap.bundle.js">
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5298217722174626"
            crossorigin="anonymous"></script>
</head>
<body style="background-color: rgb(240, 243, 245);">
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
        <a class="navbar-brand" href="#">
            <img src="img/author.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            milkcode
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/itemList}">最酷的互联网产品</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/it-resource-list}">如何成为很屌的程序员</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/chat}">AI助手</a>-->
<!--                </li>-->
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/aircondition}">清凉一夏</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/search}">
                <input class="form-control mr-sm-2" type="search" placeholder="寻找互联网神器" aria-label="Search"
                       name="queryKey">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>
        </div>
    </nav>
</div>
<div class="container" style="padding-top: 2%;">
    <div class="row">
        <div class="col-lg-8 " style="background-color: white">
            <div class="row my-3">
                <div class="col-12">
                    <div>
                        <div>
                            <h3 style="color: black;">[[${itResourceDTO.title}]]</h3>
                        </div>
                        <div style="padding-top: 1%;">
                            [[${itResourceDTO.author}]] &nbsp;&nbsp;发布于:&nbsp;[[${itResourceDTO.createTime}]]
                        </div>
                    </div>
                    <hr align=center color=#987cb9SIZE=1>
                    <div style="padding-top: 2%;" th:utext="${itResourceDTO.content}">
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        获取下载地址
                    </button>
                    <hr align=center color=#987cb9SIZE=1>
                    <div style="padding-top: 2%;">
                        <h4 style="color: black;">声明和投稿</h4>
                        <p>
                            1.转载请保留原文链接谢谢！
                            <br>
                            2.本站所有资源文章出自互联网收集整理，本站不参与制作，如果侵犯了您的合法权益，请联系本站我们会及时删除。
                            <br>
                            3.本站发布资源来源于互联网，可能存在水印或者引流等信息，请用户擦亮眼睛自行鉴别，做一个有主见和判断力的用户。
                            <br>
                            4.本站资源仅供研究、学习交流之用，若使用商业用途，请购买正版授权，否则产生的一切后果将由下载用户自行承担。
                            <br>
                            5.联系方式：milkcode@163.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div>
                <div
                        style="height: 128px;background-color: antiquewhite;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                    <div style="padding-top: 15%; padding-left: 5%;">
                        <img src="img/author.jpg" width="60" height="60" class="d-inline-block align-top"
                             style="border-radius: 50px;">
                    </div>
                </div>
                <div
                        style="padding-top: 5%;padding-left: 3%;height: 100px ;background-color: white;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
                    <div style="padding-bottom: 2%;">牛奶喵</div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary btn-sm">分享达人</button>
                        <button type="button" class="btn btn-danger btn-sm">大神级程序员</button>
                    </div>

                </div>
            </div>
            <div style="padding-top: 5%;">
                <div style="background-color:white;">
                    <div style="padding-top: 2% ; padding-left: 3%;"> 他的最新发布资源</div>
                    <hr align=center color=#987cb9SIZE=1>
                    <div class="list-group list-group-flush" th:each="item : ${itemList}">
                        <a  class="list-group-item list-group-item-action" th:href="@{/item(itemId=${(item.id)})}" style="text-decoration: none;color: #000">
                            <h8 class="card-title" th:text="${item.title}"></h8>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">扫描二维码</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 100%; height: 100%">
                关注公众号，发送资源名，即可获取资源下载地址！
                <img src="/001.jpg" style="width: 100%; height: 100%">
            </div>
        </div>
    </div>
</div>

<script>
    ((function () {
        var callbacks = [],
            timeLimit = 50,
            open = false;
        setInterval(loop, 1);
        return {
            addListener: function (fn) {
                callbacks.push(fn);
            },
            cancleListenr: function (fn) {
                callbacks = callbacks.filter(function (v) {
                    return v !== fn;
                });
            }
        }

        function loop() {
            var startTime = new Date();
            debugger;
            if (new Date() - startTime > timeLimit) {
                if (!open) {
                    callbacks.forEach(function (fn) {
                        fn.call(null);
                    });
                }
                open = true;
                window.stop();
                alert('讨厌，不要扒我皮了，人家好害羞的！');
                window.location.reload();
            } else {
                open = false;
            }
        }
    })()).addListener(function () {
        window.location.reload();
    });
</script>
</body>
</html>
